<section class="main">

  <header class="header">
    <div class="container">
      <div class="logo">
        <img src="./assets/images/logo.png" alt="LOGO">
      </div>
      <nav class="menu">
        <ul class="menu-list">
          <li class="menu-item">
            <a (click)="scrollTo(why)">Почему у нас</a>
          </li>
          <li class="menu-item">
            <a (click)="scrollTo(products)">Меню бургеров</a>
          </li>
          <li class="menu-item">
            <a (click)="scrollTo(order)">Оформление заказа</a>
          </li>
        </ul>
      </nav>
      <div class="currency" title="Изменить валюту" id="change-currency" (click)="changeCurrency()">{{currency}}</div>
    </div>
  </header>

  <section class="main-content">
    <div class="container">
      <div class="main-info">
        <span class="main-small-info">Новое меню</span>
        <h1 class="main-title">бургер чеддер</h1>
        <p class="main-text">
          Мы обновили наше меню, спешите попробовать сезонные новинки и насладиться отличным вкусом наших
          бургеров. Готовим для вас лучшие бургеры в городе из отборной мраморной говядины.
        </p>
        <div class="main-action">
          <button class="button" id="main-action-button" (click)="scrollTo(products)">Смотреть меню</button>
        </div>
      </div>
      <img src="./assets/images/main_burger.png" alt="Very BIG burger" class="main-image">
    </div>
  </section>

</section>


<section class="why" id="why" #why>
  <div class="container">
    <div class="why-title common-title">почему нас выбирают?</div>
    <div class="why-items">
      <div class="why-item">
        <img src="./assets/images/burger.png" alt="Mini burger" class="why-item-image">
        <div class="why-item-title">Авторские рецепты</div>
        <div class="why-item-text">
          Наши бургеры обладают уникальным сочетанием вкусов и не похожи ни на какие другие. Мы тщательно
          отбираем лучшие ингредиенты и сочетания вкусов для нашего меню.
        </div>
      </div>
      <div class="why-item">
        <img src="./assets/images/meat.png" alt="Mini meat" class="why-item-image">
        <div class="why-item-title">Мраморная говядина</div>
        <div class="why-item-text">
          Для наших бургеров мы используем отборную 100% мраморную говядину, которую закупаем исключительно
          у фермеров. Мы уверены в качестве нашего мяса.
        </div>
      </div>
      <div class="why-item">
        <img src="./assets/images/food_truck.png" alt="Mini truck" class="why-item-image">
        <div class="why-item-title">Быстрая доставка</div>
        <div class="why-item-text">
          Мы доставляем в пределах МКАД за 30 минут, а если не успеем — доставка
          бесплатно. Мы тщательно упаковываем наши бургеры, чтобы по дороге они не остыли.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="products" id="products" #products>
  <div class="container">
    <div class="products-title common-title">выберите свой бургер</div>
    <div class="products-items">
      <div class="products-item" *ngFor="let product of productsData">
        <div class="products-item-image"><img src="./assets/images/{{product.image}}" alt="Burger"></div>
        <div class="products-item-title">{{product.title}}</div>
        <div class="products-item-text">
          {{product.text}}
        </div>
        <div class="products-item-extra">
          <div class="products-item-info">
            <div class="products-item-price">{{product.price}} {{currency}}</div>
            <div class="products-item-wight">{{product.grams}} гр</div>
          </div>
          <div class="products-item-action">
            <button class="button product-button" (click)="scrollTo(order, product)">
              <span>Заказать</span>
              <span>
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                <path
                                  d="M17 18.5C17.5304 18.5 18.0391 18.7107 18.4142 19.0858C18.7893 19.4609 19 19.9696 19 20.5C19 21.0304 18.7893 21.5391 18.4142 21.9142C18.0391 22.2893 17.5304 22.5 17 22.5C16.4696 22.5 15.9609 22.2893 15.5858 21.9142C15.2107 21.5391 15 21.0304 15 20.5C15 19.39 15.89 18.5 17 18.5ZM1 2.5H4.27L5.21 4.5H20C20.2652 4.5 20.5196 4.60536 20.7071 4.79289C20.8946 4.98043 21 5.23478 21 5.5C21 5.67 20.95 5.84 20.88 6L17.3 12.47C16.96 13.08 16.3 13.5 15.55 13.5H8.1L7.2 15.13L7.17 15.25C7.17 15.3163 7.19634 15.3799 7.24322 15.4268C7.29011 15.4737 7.3537 15.5 7.42 15.5H19V17.5H7C6.46957 17.5 5.96086 17.2893 5.58579 16.9142C5.21071 16.5391 5 16.0304 5 15.5C5 15.15 5.09 14.82 5.24 14.54L6.6 12.09L3 4.5H1V2.5ZM7 18.5C7.53043 18.5 8.03914 18.7107 8.41421 19.0858C8.78929 19.4609 9 19.9696 9 20.5C9 21.0304 8.78929 21.5391 8.41421 21.9142C8.03914 22.2893 7.53043 22.5 7 22.5C6.46957 22.5 5.96086 22.2893 5.58579 21.9142C5.21071 21.5391 5 21.0304 5 20.5C5 19.39 5.89 18.5 7 18.5ZM16 11.5L18.78 6.5H6.14L8.5 11.5H16Z"
                                  fill="#191411"/>
                                </svg>
                            </span>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="order" id="order" #order>
  <div class="container">
    <div class="order-title common-title">оформление заказа</div>
    <img src="./assets/images/order_image.png" alt="Box with burger" class="order-image">
    <div class="order-form">
      <div class="order-form-text">Заполните все данные и наш менеджер свяжется с вами для подтверждения заказа
      </div>
      <div class="order-form-inputs" [formGroup]="form">
        <div class="order-form-input"
             [class]="{'error': form.get('order')?.invalid && (form.get('order')?.dirty || form.get('order')?.touched )}">
          <input type="text" placeholder="Выберите товар в списке" id="burger" formControlName="order" readonly>
        </div>
        <div class="order-form-input"
             [class]="{'error': form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched )}">
          <input type="text" placeholder="Ваше имя" id="name" formControlName="name">
        </div>
        <div class="order-form-input"
             [class]="{'error': form.get('phone')?.invalid && (form.get('phone')?.dirty || form.get('phone')?.touched )}">
          <input type="text" placeholder="Ваш телефон" id="phone" formControlName="phone">
        </div>
        <button class="button" id="order-action" (click)="confirmOrder()" [disabled]="!form.valid">Оформить заказ
        </button>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="logo">
      <img src="./assets/images/logo.png" alt="LOGO">
    </div>
    <div class="rights">Все права защищены</div>
  </div>
</footer>
