
.main {
  overflow: hidden;
  background-image: url("../assets/images/main_bg.png");
  background-position: top center;
}

.header {
  padding: 40px 0;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo img {
  vertical-align: bottom;
}

.menu {
  margin-left: 192px;
}

.menu-list {
  list-style: none;
  display: flex;
}

.menu-item {
  margin-right: 88px;
}

.menu-item a {
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.menu-item a:hover {
  border-bottom: 2px solid white;
}

.currency {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  padding: 6px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  line-height: 32px;
  margin-left: auto;
  user-select: none;
}

.main-content {
  padding-top: 102px;
  padding-bottom: 200px;
}

.main-content .container {
  position: relative;
}


.main-info {
  max-width: 608px;
}

.main-small-info {
  background: #D3320F;
  border-radius: 100px;
  padding: 12px 16px;
  display: inline-block;
  font-size: 18px;
}

.main-title {
  font-family: 'Merriweather', sans-serif;
  font-size: 120px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 56px;
}

.main-text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 56px;
}

.main-image {
  position: absolute;
  top: -123px;
  left: calc(100% - 991px);
}

.why {
  background-image: url("../assets/images/whybg.png");
  background-position: top center;
  background-size: initial;
  padding-bottom: 180px;
}


.why-items {
  margin-top: 60px;
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(3, 312px);
  justify-content: center;
}

.why-item {
  text-align: center;
}

.why-item-title {
  font-size: 24px;
  line-height: 29px;
  padding: 24px 0;
}

.why-item-text {
  font-size: 16px;
  line-height: 140%;
}

.products {
  background-image: url("../assets/images/burgers_bg.png");
  background-position: top center;
  background-size: 1400px;
  padding-bottom: 180px;
}

.products-items {
  display: grid;
  grid-template-columns: repeat(3, 384px);
  gap: 24px;
  margin-top: 60px;
}

.products-item {
  padding: 30px;
  background: #211A16;
  border: 1px solid #353535;
  border-radius: 16px;
}

.products-item-image {
  height: 250px;
}

.products-item-image img {
  max-width: 100%;
}

.products-item-title {
  font-size: 24px;
  line-height: 29px;
  padding: 24px 0;
}

.products-item-text {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 24px;
}

.products-item-extra {
  display: flex;
  justify-content: space-between;
}

.products-item-price {
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 8px;
}

.products-item-wight {
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}

.button.product-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 62px;
}

.button.product-button span:first-child {
  margin-right: 10px;
}

.order {
  background-image: url("../assets/images/order_bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 180px;
  overflow: hidden;
}

.order .container {
  position: relative;
}

.order-image {
  position: absolute;
  top: 0;
  right: calc(100% - 764px);
  z-index: -1;
}

.order-form {
  background: #211A16;
  border: 1px solid #353535;
  border-radius: 16px;
  margin-top: 60px;
  max-width: 426px;
  box-sizing: border-box;
  padding: 60px 40px;
  margin-left: 674px;
}

.order-form-text {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.order-form-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.order-form-input {
  background: linear-gradient(95.61deg, #DA8023 0%, #E2B438 100%);
  width: 344px;
  height: 62px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-form-input.error {
  background: red;
  border-radius: 8px;
  border: 1px solid transparent;
}

.order-form-input input {
  padding: 20px 10px;
  background: #211A16;
  width: 342px;
  height: 60px;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid transparent;
  color: white;
}

.order-form-inputs .button {
  width: 344px;
  height: 62px;
}

.footer {
  padding: 60px 0;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rights {
  font-size: 16px;
  line-height: 20px;
}
